---
---

$base-font-family: "Georgia", serif;

@import "{{ site.theme }}";
body {
  font-family: "Georgia", serif;
}
body {
  background-color: rgba(0, 128, 0, 0.15); 
}
/*set background to green, 15% opacity, without impacting other elements
